/* COMMON */

body{
    font-family: 'Noto Sans KR', sans-serif;
}

img{
    display: block;

}

/* HEADER */

header{
    width: 100%;
    position: absolute;
    float: left;
    font-size: 20px;
    margin-right: 80px;
    height: 140px;
    font-family:'Hammersmith One', sans-serif;;
    font-weight: 600;
    background: white;
    position: fixed;
    z-index: 2;
}

header img#logo{
    width: 106px;
    float: left;
    height: 93px;
    background: white;
    display: flex;
    justify-content: left;
    padding-left: 65px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    align-items: center;
    text-align: justify;

}

.header__gnb ul{
    margin-top: 0px 85px;
}

.header__gnb li{
    display: inline-block;
}

.header__gnb li a {
    display: block;
    font: bold 20px;
    font-family: 'Hammersmith One', sans-serif;
    color: black;
    line-height: 140px;
    font-weight: 700;
    margin: 0px 40px;
    padding: 0px 10px;
}