body{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 19px;
    font-weight: 100px;
    line-height:1.4;
    background: floralwhite;
}
.material-icons {
    color:black;
    font-size: 32px;
    cursor: pointer;
}
header{
    background:black
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    padding: 0 15px;
}
header>.material-icons {
    position: absolute;
}

